.logout-button {
  border-radius: 25px;
  font-weight: bold;
  background-color: #4e6488;
  border-color: #56647c;
  color: white;
  padding: 12px;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #5a74a5;
  border-color: #475e73;
}

/* Mobile */
@media (max-width: 576px) {
  .logout-button{
    font-size: 1rem;
    padding: 10px;
  }
}
