/* Overall container styling */
.signin-container {
    background: linear-gradient(135deg, #1b1a1b, #101010);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
  }
  
  /* Card styling */
  .signin-card {
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #1d1d1d;
    padding: 50px;
    transition: transform 0.3s ease-in-out;
  }
  
  .signin-card:hover {
    transform: translateY(-10px);
  }
  
  /* Title styling */
  .signin-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f5f5f5;
    text-transform: uppercase;
  }
  
  /* Label styling */
  .form-label {
    font-size: 1.1rem;
    color: #d1d1d1;  /* Light color for the labels */
  }
  
  /* Input styling */
  .signin-input {
    width: 100%;
    border-radius: 10px;
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid #555;
    padding: 12px 15px;
    font-size: 1rem;
    margin-bottom: 6px;
  }
  
  .signin-input:focus {
    outline: none;
    border-color: #4e6488;
    box-shadow: 0 0 10px rgba(72, 123, 184, 0.5);
  }
  
  /* Button styling */
  .signin-button {
    border-radius: 25px;
    font-weight: bold;
    background-color: #4e6488;
    border-color: #56647c;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-top: 5px;
  }
  
  .signin-button:hover {
    background-color: #5a74a5;
    border-color: #475e73;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 576px) {
    .signin-card {
      padding: 20px;
    }
  
    .signin-title {
      font-size: 1.5rem;
    }
  
    .signin-button {
      font-size: 1rem;
      padding: 10px;
    }
  }
  