name: CI Workflow

on:
  push:
    branches:
        #trigger on pushes to main branch
      - main
  pull_request:
    branches:
        #trigger on pull requests targeting main branch
      - main

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js for frontend
        uses: actions/setup-node@v2
        with:
          node-version: '20.19'

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install

      - name: Run frontend lint
        run: |
            cd frontend
            npm run lint
        # Fail the workflow if linting fails
        continue-on-error: false

      - name: Run frontend tests
        run: |
          cd frontend
          npm run test
        continue-on-error: true

      - name: Build frontend with Vite
        run: |
          cd frontend
          npm run build 

  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js for backend
        uses: actions/setup-node@v2
        with:
          node-version: '20.19'

      - name: Install backend dependencies
        run: |
          cd backend
          npm install

      - name: Run backend lint
        run: |
          cd backend
          npm run lint
        continue-on-error: false

      - name: Run backend tests
        run: |
          cd backend
          npm run test
        continue-on-error: false

